:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

textarea {
  font-size: 1.1em;
  width: 70%;
  display: block;
  margin: auto;
}

table.maintable {
  border: 1px solid #1c6ea4;
  background-color: #eeeeee;
  text-align: left;
  border-collapse: collapse;
  text-align: right;
  word-break: keep-all;
  line-break: strict;
  text-wrap: nowrap;
}

.maintable thead {
  font-weight: bold;
  text-align: center;
  border: 2px solid #999;
}

.maintable th,
.maintable td {
  border: 1px solid #aaa;
}

.error {
  color: #922;
}

.clickable {
  cursor: pointer;
}

.pill {
  padding: 0.2em;
  border-radius: 0.5em;
  background-color: rgb(218, 244, 255);
}

.pill:hover {
  background-color: rgb(218, 244, 255, 0.5);
}

.link {
  cursor: pointer;
  color: -webkit-link;
  text-decoration: underline;
}

.table-align-left{
  text-align: left;
}

.middle-message {
  margin: 1em auto;
  text-align: center;
}

footer {
  margin-top: 1em;
  text-align: center;
  font-size: small;
  color: gray;
}

.responsive-row-or-col {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 110ch) {
  .responsive-row-or-col {
    flex-direction: column;
  }
}